Repository CSCD01/team_22-project, pull requests merged in 2020-03, with the labels that each got.

#10 Added description and estimate for 11154
  doc/deliverable2/11154.md
  doc/deliverable2/img/11154_after.png
  doc/deliverable2/img/11154_before.png
  doc/deliverable2/img/11154_dropdown.png
Labels: deliverable 2

#17 #16 Add documents to PDF.js issue 11658
  doc/deliverable2/11658.md
  doc/deliverable2/img/11658_1.png
  doc/deliverable2/img/11658_2.png
Labels: deliverable 2

#18 11473&process
  doc/deliverable2/11473.md
  doc/deliverable2/Process.md
  doc/deliverable2/img/11473-1.png
  doc/deliverable2/img/11473-2.png
  doc/deliverable2/img/kanban_1.png
  doc/deliverable2/img/kanban_2.png
  doc/deliverable2/img/kanban_3.png
  doc/deliverable2/img/kanban_4.png
  doc/deliverable2/img/kanban_5.png
  doc/deliverable2/img/kanban_6.png
  doc/deliverable2/img/kanban_7.png
Labels: deliverable 2

#19 11561 Documentation
  doc/deliverable2/11561.md
  doc/deliverable2/img/11561_1.png
  doc/deliverable2/img/11561_2.png
  doc/deliverable2/img/11561_3.png
  doc/deliverable2/img/11561_4.png
Labels: deliverable 2, documentation

#15 Added description and estimate for 11259
  doc/deliverable2/11259.md
  doc/deliverable2/img/.DS_Store
  doc/deliverable2/img/1.png
Labels: deliverable 2

#23 10773
  doc/deliverable3/10773.md
  doc/deliverable3/img/10773_1.PNG
  doc/deliverable3/img/10773_2.PNG
  doc/deliverable3/img/10773_UML.png
Labels: deliverable 3

#25 7442
  doc/deliverable3/7442.md
  doc/deliverable3/deliverable3.md
  doc/deliverable3/img/7442_1.png
  doc/deliverable3/img/7442_2.png
  doc/deliverable3/img/7442_uml.png
Labels: deliverable 3

#26 6347
  doc/deliverable3/6347.md
  doc/deliverable3/img/6347_UML.png
Labels: deliverable 3, documentation
