Repository CSCD01/team_22-project, pull requests merged in 2020-04, with the labels that each got.

#41 10773 testing
  doc/deliverable4/10773/acceptance_testing.md
  doc/deliverable4/10773/img/10773_fit.png
  doc/deliverable4/10773/img/10773_fitH.png
  doc/deliverable4/10773/img/10773_fitH_795.png
  doc/deliverable4/10773/img/10773_fitH_795_page3.png
  doc/deliverable4/10773/img/10773_fitV.png
  doc/deliverable4/10773/img/10773_fitV_100.png
  doc/deliverable4/10773/img/10773_fitV_rotation.png
  doc/deliverable4/10773/img/10773_open_pdf.png
Labels: deliverable 4

#42 Documentaion process
  doc/deliverable4/10773/acceptance_testing.md
  doc/deliverable4/10773/img/10773_fit.png
  doc/deliverable4/10773/img/10773_fitH.png
  doc/deliverable4/10773/img/10773_fitH_795.png
  doc/deliverable4/10773/img/10773_fitH_795_page3.png
  doc/deliverable4/10773/img/10773_fitV.png
  doc/deliverable4/10773/img/10773_fitV_100.png
  doc/deliverable4/10773/img/10773_fitV_rotation.png
  doc/deliverable4/10773/img/10773_open_pdf.png
  doc/deliverable4/Documentaion_10773.md
  doc/deliverable4/Documentation_6347.md
  doc/deliverable4/Software_process.md
  doc/deliverable4/deliverable4_index.md
  doc/deliverable4/deliverable4_intergration.md
  doc/deliverable4/img/10773_UML_2.png
  doc/deliverable4/img/kanban_1.png
  doc/deliverable4/img/kanban_10.png
  doc/deliverable4/img/kanban_2.png
  doc/deliverable4/img/kanban_3.png
  doc/deliverable4/img/kanban_4.png
  doc/deliverable4/img/kanban_5.png
  doc/deliverable4/img/kanban_6.png
  doc/deliverable4/img/kanban_7.png
  doc/deliverable4/img/kanban_8.png
  doc/deliverable4/img/kanban_9.png
  doc/deliverable4/img/option_1.png
  doc/deliverable4/img/pic_1.png
  doc/deliverable4/img/pic_2.png
Labels: deliverable 4, documentation

#44 10773 testing
  doc/deliverable4/10773/img/unit_test.png
  doc/deliverable4/10773/unit_testing.md
Labels: deliverable 4

#43 Huang325 patch 1
  doc/deliverable4/10773/img/unit_test.png
  doc/deliverable4/10773/unit_testing.md
  doc/deliverable4/Documentaion_10773.md
  doc/deliverable4/Documentation_6347.md
  doc/deliverable4/Software_process.md
  doc/deliverable4/deliverable4_index.md
  doc/deliverable4/deliverable4_intergration.md
Labels: bug, deliverable 4
